[tool.poetry]
name = "cgcnn2"
version = "0.3.5"
description = "Crystal Graph Convolutional Neural Networks"
authors = ["Jiacheng Wang <jiachengwang@umass.edu>"]
maintainers = ["Jiacheng Wang"]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/jcwang587/cgcnn2/"
repository = "https://github.com/jcwang587/cgcnn2/"

classifiers = [
    "Development Status :: 1 - Planning",
    "Intended Audience :: Science/Research",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Operating System :: OS Independent",
]

keywords = ["python", "gnn", "vasp", "crystal"]

[tool.poetry.dependencies]
python = ">=3.10,<3.13"
ase = "^3.24.0"
numpy = "*"
pandas = "*"
scikit-learn = "*"
torch = "^2.0.0"
pymatgen = "^2025.1.9"
pymatviz = "^0.15.0"

[tool.poetry.group.dev.dependencies]
pytest = "^8.3.0"
pytest-cov = "^6.0.0"

[tool.poetry.scripts]
cgcnn-ft = "cgcnn2.cli.cgcnn_ft:main"

[build-system]
requires = ["poetry-core==2.1.1"]
build-backend = "poetry.core.masonry.api"
