[tool.poetry]
name = "cgcnn2"
version = "0.4.2"
description = "Reproduction of Crystal Graph Convolutional Neural Networks"
authors = ["Jiacheng Wang <jiachengwang@umass.edu>"]
maintainers = ["Jiacheng Wang"]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/jcwang587/cgcnn2/"
repository = "https://github.com/jcwang587/cgcnn2/"

classifiers = [
    "Development Status :: 1 - Planning",
    "Intended Audience :: Science/Research",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Operating System :: OS Independent",
]

keywords = ["python", "graph-model", "fine-tuning", "computational-materials"]

[project]
requires-python = ">=3.10"

[tool.poetry.dependencies]
python = ">=3.10,<3.13"
ase = "^3.25.0"
numpy = "*"
pandas = "*"
pymatgen = "^2025.1.9"
pymatviz = "~0.16.0"
scikit-learn = "*"
torch = "^2.0.0"
# ASE and Pymatgen track the first release of the current year
# Pymatviz tracks the latest minor version

[tool.poetry.group.dev.dependencies]
pytest = "^8.3.0"
pytest-cov = "^6.0.0"

[tool.poetry.scripts]
cgcnn-ft = "cgcnn2.cli.cgcnn_ft:main"
cgcnn-pr = "cgcnn2.cli.cgcnn_pr:main"
cgcnn-tr = "cgcnn2.cli.cgcnn_tr:main"
atom-gen = "cgcnn2.cli.cgcnn_init:atom_gen"
id-gen = "cgcnn2.cli.cgcnn_init:id_gen"

[build-system]
requires = ["poetry-core==2.1.2"]
build-backend = "poetry.core.masonry.api"

[tool.ruff]
exclude = [
    ".bzr",
    ".direnv",
    ".eggs",
    ".git",
    ".git-rewrite",
    ".hg",
    ".ipynb_checkpoints",
    ".mypy_cache",
    ".nox",
    ".pants.d",
    ".pyenv",
    ".pytest_cache",
    ".pytype",
    ".ruff_cache",
    ".svn",
    ".tox",
    ".venv",
    ".vscode",
    "__pypackages__",
    "_build",
    "buck-out",
    "build",
    "dist",
    "node_modules",
    "site-packages",
    "venv",
]
line-length = 88
indent-width = 4
target-version = "py310"

[tool.ruff.lint]
select = ["E4", "E7", "E9", "F"]
ignore = []
fixable = ["ALL"]
unfixable = []
dummy-variable-rgx = "^(_+|(_+[a-zA-Z0-9_]*[a-zA-Z0-9]+?))$"

[tool.ruff.format]
quote-style = "double"
indent-style = "space"
skip-magic-trailing-comma = false
line-ending = "auto"
docstring-code-format = false
docstring-code-line-length = "dynamic"
