[tool.poetry]
name = "cgcnn2"
version = "0.1.2"
description = "Crystal Graph Convolutional Neural Networks"
authors = ["Jiacheng Wang <jiachengwang@umass.edu>"]
maintainers = ["Jiacheng Wang"]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/jcwang587/cgcnn2/"
repository = "https://github.com/jcwang587/cgcnn2/"

classifiers = [
    "Development Status :: 1 - Planning",
    "Intended Audience :: Science/Research",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Operating System :: OS Independent",
]

keywords = ["python", "gnn", "vasp", "crystal"]

[tool.poetry.dependencies]
python = ">=3.10"
ase = "3.23.0"
numpy = "*"
pandas = "*"
scikit-learn = "*"
torch = "2.5.1"
pymatgen = "2024.10.3"
pymatviz = "0.13.2"

[tool.poetry.group.dev.dependencies]
pytest = "8.3.3"
pytest-cov = "5.0.0"

[tool.poetry.scripts]
cgcnn-ft = "cgcnn2.cgcnn_ft:main"

[build-system]
requires = ["poetry-core==1.9.0"]
build-backend = "poetry.core.masonry.api"
